@charset "UTF-8";

/* RESET
------------------------*/
a,
abbr,
acronym,
address,
applet,
article,
aside,
audio,
b,
big,
blockquote,
body,
caption,
canvas,
center,
cite,
code,
dd,
del,
details,
dfn,
dialog,
div,
dl,
dt,
em,
embed,
figure,
fieldset,
figcaption,
figure,
form,
footer,
header,
hgroup,
h1,
h2,
h3,
h4,
h5,
h6,
html,
i,
iframe,
img,
ins,
kbd,
label,
legend,
li,
mark,
menu,
nav,
object,
ol,
output,
p,
pre,
q,
ruby,
s,
samp,
section,
main,
small,
span,
strike,
strong,
sub,
summary,
sup,
tt,
table,
tbody,
textarea,
tfoot,
thead,
time,
tr,
th,
td,
u,
ul,
var,
video {
    font-family: inherit;
    font-size: 100%;
    font-weight: inherit;
    font-style: inherit;
    margin: 0;
    padding: 0;
    text-align: left;
    vertical-align: baseline;
    white-space: normal;
    border: 0;
    outline: 0;
    background: transparent;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section,
main {
    display: block;
}

ol,
ul {
    list-style: none;
}

blockquote,
q {
    quotes: none;
}

table {
    border-spacing: 0;
    border-collapse: collapse;
}

*,
*::before,
*::after {
    box-sizing: border-box;
}

body {
    overflow: hidden;
    font-family: "Helvetica Neue", "Helvetica", "Hiragino Sans", "Hiragino Kaku Gothic ProN", "Arial", "Yu Gothic", "Meiryo", sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 1.6;
    color: #222;
    text-size-adjust: 100%;
}

img {
    max-width: 100%;
    height: auto;
    vertical-align: middle;
}

/* ==========================================================================
    Remodal's default mobile first theme
   ========================================================================== */
/* Default theme styles for the background */
.remodal-bg.remodal-is-opening,
.remodal-bg.remodal-is-opened {
    filter: blur(3px);
}

/* Default theme styles of the overlay */
.remodal-overlay {
    background: rgba(43, 46, 56, 0.9);
}

.remodal-overlay.remodal-is-opening,
.remodal-overlay.remodal-is-closing {
    animation-duration: 0.3s;
    animation-fill-mode: forwards;
}

.remodal-overlay.remodal-is-opening {
    animation-name: remodal-overlay-opening-keyframes;
}

.remodal-overlay.remodal-is-closing {
    animation-name: remodal-overlay-closing-keyframes;
}

/* Default theme styles of the wrapper */
.remodal-wrapper {
    padding: 10px 10px 0;
}

/* Default theme styles of the modal dialog */
.remodal {
    box-sizing: border-box;
    width: 100%;
    margin-bottom: 10px;
    padding: 35px;
    transform: translate3d(0, 0, 0);
    color: #2b2e38;
    background: #fff;
}

.remodal.remodal-is-opening,
.remodal.remodal-is-closing {
    animation-duration: 0.3s;
    animation-fill-mode: forwards;
}

.remodal.remodal-is-opening {
    animation-name: remodal-opening-keyframes;
}

.remodal.remodal-is-closing {
    animation-name: remodal-closing-keyframes;
}

/* Vertical align of the modal dialog */
.remodal,
.remodal-wrapper:after {
    vertical-align: middle;
}

/* Close button */
.remodal-close {
    position: absolute;
    top: 0;
    left: 0;
    display: block;
    overflow: visible;
    width: 35px;
    height: 35px;
    margin: 0;
    padding: 0;
    cursor: pointer;
    transition: color 0.2s;
    text-decoration: none;
    color: #95979c;
    border: 0;
    outline: 0;
    background: transparent;
}

.remodal-close:hover,
.remodal-close:focus {
    color: #2b2e38;
}

.remodal-close:before {
    font-family: Arial, "Helvetica CY", "Nimbus Sans L", sans-serif !important;
    font-size: 25px;
    line-height: 35px;
    position: absolute;
    top: 0;
    left: 0;
    display: block;
    width: 35px;
    content: "×";
    text-align: center;
}

/* Dialog buttons */
.remodal-confirm,
.remodal-cancel {
    font: inherit;
    display: inline-block;
    overflow: visible;
    min-width: 110px;
    margin: 0;
    padding: 12px 0;
    cursor: pointer;
    transition: background 0.2s;
    text-align: center;
    vertical-align: middle;
    text-decoration: none;
    border: 0;
    outline: 0;
}

.remodal-confirm {
    color: #fff;
    background: #81c784;
}

.remodal-confirm:hover,
.remodal-confirm:focus {
    background: #66bb6a;
}

.remodal-cancel {
    color: #fff;
    background: #e57373;
}

.remodal-cancel:hover,
.remodal-cancel:focus {
    background: #ef5350;
}

/* Remove inner padding and border in Firefox 4+ for the button tag. */
.remodal-confirm::-moz-focus-inner,
.remodal-cancel::-moz-focus-inner,
.remodal-close::-moz-focus-inner {
    padding: 0;
    border: 0;
}

/* Keyframes
   ========================================================================== */
@keyframes remodal-opening-keyframes {
    from {
        transform: scale(1.05);
        opacity: 0;
    }

    to {
        transform: none;
        opacity: 1;
        filter: blur(0);
    }
}

@keyframes remodal-closing-keyframes {
    from {
        transform: scale(1);
        opacity: 1;
    }

    to {
        transform: scale(0.95);
        opacity: 0;
        filter: blur(0);
    }
}

@keyframes remodal-overlay-opening-keyframes {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

@keyframes remodal-overlay-closing-keyframes {
    from {
        opacity: 1;
    }

    to {
        opacity: 0;
    }
}

/* Media queries
   ========================================================================== */
@media only screen and (min-width: 641px) {
    .remodal {
        max-width: 700px;
    }
}

/* IE8
   ========================================================================== */
.lt-ie9 .remodal-overlay {
    background: #2b2e38;
}

.lt-ie9 .remodal {
    width: 700px;
}

/* ==========================================================================
    Remodal's necessary styles
   ========================================================================== */
/* Hide scroll bar */
html.remodal-is-locked {
    overflow: hidden;
    touch-action: none;
}

/* Anti FOUC */
.remodal,
[data-remodal-id] {
    display: none;
}

/* Necessary styles of the overlay */
.remodal-overlay {
    position: fixed;
    z-index: 9999;
    top: -5000px;
    right: -5000px;
    bottom: -5000px;
    left: -5000px;
    display: none;
}

/* Necessary styles of the wrapper */
.remodal-wrapper {
    position: fixed;
    z-index: 10000;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    display: none;
    overflow: auto;
    text-align: center;
    -webkit-overflow-scrolling: touch;
}

.remodal-wrapper:after {
    display: inline-block;
    height: 100%;
    margin-left: -0.05em;
    content: "";
}

/* Fix iPad, iPhone glitches */
.remodal-overlay,
.remodal-wrapper {
    backface-visibility: hidden;
}

/* Necessary styles of the modal dialog */
.remodal {
    position: relative;
    outline: none;
    text-size-adjust: 100%;
}

.remodal-is-initialized {
    /* Disable Anti-FOUC */
    display: inline-block;
}

/**
 * Swiper 5.4.5
 * Most modern mobile touch slider and framework with hardware accelerated transitions
 * http://swiperjs.com
 *
 * Copyright 2014-2020 Vladimir Kharlampidi
 *
 * Released under the MIT License
 *
 * Released on: June 16, 2020
 */
@font-face {
    font-family: "swiper-icons";
    src: url("data:application/font-woff;charset=utf-8;base64, d09GRgABAAAAAAZgABAAAAAADAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAABGRlRNAAAGRAAAABoAAAAci6qHkUdERUYAAAWgAAAAIwAAACQAYABXR1BPUwAABhQAAAAuAAAANuAY7+xHU1VCAAAFxAAAAFAAAABm2fPczU9TLzIAAAHcAAAASgAAAGBP9V5RY21hcAAAAkQAAACIAAABYt6F0cBjdnQgAAACzAAAAAQAAAAEABEBRGdhc3AAAAWYAAAACAAAAAj//wADZ2x5ZgAAAywAAADMAAAD2MHtryVoZWFkAAABbAAAADAAAAA2E2+eoWhoZWEAAAGcAAAAHwAAACQC9gDzaG10eAAAAigAAAAZAAAArgJkABFsb2NhAAAC0AAAAFoAAABaFQAUGG1heHAAAAG8AAAAHwAAACAAcABAbmFtZQAAA/gAAAE5AAACXvFdBwlwb3N0AAAFNAAAAGIAAACE5s74hXjaY2BkYGAAYpf5Hu/j+W2+MnAzMYDAzaX6QjD6/4//Bxj5GA8AuRwMYGkAPywL13jaY2BkYGA88P8Agx4j+/8fQDYfA1AEBWgDAIB2BOoAeNpjYGRgYNBh4GdgYgABEMnIABJzYNADCQAACWgAsQB42mNgYfzCOIGBlYGB0YcxjYGBwR1Kf2WQZGhhYGBiYGVmgAFGBiQQkOaawtDAoMBQxXjg/wEGPcYDDA4wNUA2CCgwsAAAO4EL6gAAeNpj2M0gyAACqxgGNWBkZ2D4/wMA+xkDdgAAAHjaY2BgYGaAYBkGRgYQiAHyGMF8FgYHIM3DwMHABGQrMOgyWDLEM1T9/w8UBfEMgLzE////P/5//f/V/xv+r4eaAAeMbAxwIUYmIMHEgKYAYjUcsDAwsLKxc3BycfPw8jEQA/gZBASFhEVExcQlJKWkZWTl5BUUlZRVVNXUNTQZBgMAAMR+E+gAEQFEAAAAKgAqACoANAA+AEgAUgBcAGYAcAB6AIQAjgCYAKIArAC2AMAAygDUAN4A6ADyAPwBBgEQARoBJAEuATgBQgFMAVYBYAFqAXQBfgGIAZIBnAGmAbIBzgHsAAB42u2NMQ6CUAyGW568x9AneYYgm4MJbhKFaExIOAVX8ApewSt4Bic4AfeAid3VOBixDxfPYEza5O+Xfi04YADggiUIULCuEJK8VhO4bSvpdnktHI5QCYtdi2sl8ZnXaHlqUrNKzdKcT8cjlq+rwZSvIVczNiezsfnP/uznmfPFBNODM2K7MTQ45YEAZqGP81AmGGcF3iPqOop0r1SPTaTbVkfUe4HXj97wYE+yNwWYxwWu4v1ugWHgo3S1XdZEVqWM7ET0cfnLGxWfkgR42o2PvWrDMBSFj/IHLaF0zKjRgdiVMwScNRAoWUoH78Y2icB/yIY09An6AH2Bdu/UB+yxopYshQiEvnvu0dURgDt8QeC8PDw7Fpji3fEA4z/PEJ6YOB5hKh4dj3EvXhxPqH/SKUY3rJ7srZ4FZnh1PMAtPhwP6fl2PMJMPDgeQ4rY8YT6Gzao0eAEA409DuggmTnFnOcSCiEiLMgxCiTI6Cq5DZUd3Qmp10vO0LaLTd2cjN4fOumlc7lUYbSQcZFkutRG7g6JKZKy0RmdLY680CDnEJ+UMkpFFe1RN7nxdVpXrC4aTtnaurOnYercZg2YVmLN/d/gczfEimrE/fs/bOuq29Zmn8tloORaXgZgGa78yO9/cnXm2BpaGvq25Dv9S4E9+5SIc9PqupJKhYFSSl47+Qcr1mYNAAAAeNptw0cKwkAAAMDZJA8Q7OUJvkLsPfZ6zFVERPy8qHh2YER+3i/BP83vIBLLySsoKimrqKqpa2hp6+jq6RsYGhmbmJqZSy0sraxtbO3sHRydnEMU4uR6yx7JJXveP7WrDycAAAAAAAH//wACeNpjYGRgYOABYhkgZgJCZgZNBkYGLQZtIJsFLMYAAAw3ALgAeNolizEKgDAQBCchRbC2sFER0YD6qVQiBCv/H9ezGI6Z5XBAw8CBK/m5iQQVauVbXLnOrMZv2oLdKFa8Pjuru2hJzGabmOSLzNMzvutpB3N42mNgZGBg4GKQYzBhYMxJLMlj4GBgAYow/P/PAJJhLM6sSoWKfWCAAwDAjgbRAAB42mNgYGBkAIIbCZo5IPrmUn0hGA0AO8EFTQAA") format("woff");
    font-weight: 400;
    font-style: normal;
}

:root {
    --swiper-theme-color: #007aff;
}

.swiper-container {
    margin-left: auto;
    margin-right: auto;
    position: relative;
    overflow: hidden;
    list-style: none;
    padding: 0;
    /* Fix of Webkit flickering */
    z-index: 1;
}

.swiper-container-vertical>.swiper-wrapper {
    flex-direction: column;
}

.swiper-wrapper {
    position: relative;
    width: 100%;
    height: 100%;
    z-index: 1;
    display: flex;
    transition-property: transform;
    box-sizing: content-box;
}

.swiper-container-android .swiper-slide,
.swiper-wrapper {
    transform: translate3d(0px, 0, 0);
}

.swiper-container-multirow>.swiper-wrapper {
    flex-wrap: wrap;
}

.swiper-container-multirow-column>.swiper-wrapper {
    flex-wrap: wrap;
    flex-direction: column;
}

.swiper-container-free-mode>.swiper-wrapper {
    transition-timing-function: ease-out;
    margin: 0 auto;
}

.swiper-slide {
    flex-shrink: 0;
    width: 100%;
    height: 100%;
    position: relative;
    transition-property: transform;
}

.swiper-slide-invisible-blank {
    visibility: hidden;
}

/* Auto Height */
.swiper-container-autoheight,
.swiper-container-autoheight .swiper-slide {
    height: auto;
}

.swiper-container-autoheight .swiper-wrapper {
    align-items: flex-start;
    transition-property: transform, height;
}

/* 3D Effects */
.swiper-container-3d {
    perspective: 1200px;
}

.swiper-container-3d .swiper-wrapper,
.swiper-container-3d .swiper-slide,
.swiper-container-3d .swiper-slide-shadow-left,
.swiper-container-3d .swiper-slide-shadow-right,
.swiper-container-3d .swiper-slide-shadow-top,
.swiper-container-3d .swiper-slide-shadow-bottom,
.swiper-container-3d .swiper-cube-shadow {
    transform-style: preserve-3d;
}

.swiper-container-3d .swiper-slide-shadow-left,
.swiper-container-3d .swiper-slide-shadow-right,
.swiper-container-3d .swiper-slide-shadow-top,
.swiper-container-3d .swiper-slide-shadow-bottom {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    pointer-events: none;
    z-index: 10;
}

.swiper-container-3d .swiper-slide-shadow-left {
    background-image: linear-gradient(to left, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0));
}

.swiper-container-3d .swiper-slide-shadow-right {
    background-image: linear-gradient(to right, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0));
}

.swiper-container-3d .swiper-slide-shadow-top {
    background-image: linear-gradient(to top, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0));
}

.swiper-container-3d .swiper-slide-shadow-bottom {
    background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0));
}

/* CSS Mode */
.swiper-container-css-mode>.swiper-wrapper {
    overflow: auto;
    scrollbar-width: none;
    /* For Firefox */
    -ms-overflow-style: none;
    /* For Internet Explorer and Edge */
}

.swiper-container-css-mode>.swiper-wrapper::-webkit-scrollbar {
    display: none;
}

.swiper-container-css-mode>.swiper-wrapper>.swiper-slide {
    scroll-snap-align: start start;
}

.swiper-container-horizontal.swiper-container-css-mode>.swiper-wrapper {
    scroll-snap-type: x mandatory;
}

.swiper-container-vertical.swiper-container-css-mode>.swiper-wrapper {
    scroll-snap-type: y mandatory;
}

:root {
    --swiper-navigation-size: 44px;
    /*
  --swiper-navigation-color: var(--swiper-theme-color);
  */
}

.swiper-button-prev {
    /* position: absolute; */
    /* top: 90%; */
    /* left: 250px; */
    /* bottom: 0px; */
    /* width: calc(var(--swiper-navigation-size) / 44 * 27); */
    /* height: var(--swiper-navigation-size); */
    /* margin-top: calc(-1 * var(--swiper-navigation-size) / 2); */
    /* z-index: 10; */
    /* cursor: pointer; */
    /* display: flex; */
    /* align-items: center; */
    /* justify-content: center; */
    /* color: var(--swiper-navigation-color, var(--swiper-theme-color)); */
    color: #fff;
}

.swiper-button-next {
    /* position: absolute; */
    /* top: 0%; */
    /* left: 320px; */
    /* bottom: 0px; */
    /* width: calc(var(--swiper-navigation-size) / 44 * 27); */
    /* height: var(--swiper-navigation-size); */
    /* margin-top: calc(-1 * var(--swiper-navigation-size) / 2); */
    /* z-index: 10; */
    /* cursor: pointer; */
    /* display: flex; */
    /* align-items: center; */
    /* justify-content: center; */
    /* color: var(--swiper-navigation-color, var(--swiper-theme-color)); */
    color: #fff;
}

.swiper-button-prev.swiper-button-disabled,
.swiper-button-next.swiper-button-disabled {
    opacity: 0.35;
    cursor: auto;
    pointer-events: none;
}

.swiper-button-prev:after,
.swiper-button-next:after {
    font-family: swiper-icons;
    font-size: var(--swiper-navigation-size);
    text-transform: none !important;
    letter-spacing: 0;
    text-transform: none;
    font-variant: initial;
    line-height: 1;
}

.swiper-button-prev,
.swiper-container-rtl .swiper-button-next {
    /* left: 10px; */
    /* right: auto; */
}

.swiper-button-prev:after,
.swiper-container-rtl .swiper-button-next:after {
    content: "prev";
}

.swiper-button-next,
.swiper-container-rtl .swiper-button-prev {
    /* right: 10px; */
    /* left: auto; */
}

.swiper-button-next:after,
.swiper-container-rtl .swiper-button-prev:after {
    content: "next";
}

.swiper-button-prev.swiper-button-white,
.swiper-button-next.swiper-button-white {
    --swiper-navigation-color: #ffffff;
}

.swiper-button-prev.swiper-button-black,
.swiper-button-next.swiper-button-black {
    --swiper-navigation-color: #000000;
}

.swiper-button-lock {
    display: none;
}

.swiper-pagination {
    /* position: absolute; */
    /* text-align: center; */
    transition: 300ms opacity;
    transform: translate3d(0, 0, 0);
    z-index: 10;
    /* ここを調整 */
}

.swiper-pagination.swiper-pagination-hidden {
    opacity: 0;
}

/* Common Styles */
.swiper-pagination-fraction,
.swiper-pagination-custom,
.swiper-container-horizontal>.swiper-pagination-bullets {
    /* bottom: 120px; */
    width: 100%;
    /* left: 15%; */
    /* ここを調整 */
}

/* Bullets */
.swiper-pagination-bullets-dynamic {
    overflow: hidden;
    font-size: 0;
}

.swiper-pagination-bullets-dynamic .swiper-pagination-bullet {
    transform: scale(0.33);
    position: relative;
}

.swiper-pagination-bullets-dynamic .swiper-pagination-bullet-active {
    transform: scale(1);
}

.swiper-pagination-bullets-dynamic .swiper-pagination-bullet-active-main {
    transform: scale(1);
}

.swiper-pagination-bullets-dynamic .swiper-pagination-bullet-active-prev {
    transform: scale(0.66);
}

.swiper-pagination-bullets-dynamic .swiper-pagination-bullet-active-prev-prev {
    transform: scale(0.33);
}

.swiper-pagination-bullets-dynamic .swiper-pagination-bullet-active-next {
    transform: scale(0.66);
}

.swiper-pagination-bullets-dynamic .swiper-pagination-bullet-active-next-next {
    transform: scale(0.33);
}

.swiper-pagination-bullet {
    width: 8px;
    height: 8px;
    display: inline-block;
    border-radius: 100%;
    background: #000;
    opacity: 0.2;
}

button.swiper-pagination-bullet {
    border: none;
    margin: 0;
    padding: 0;
    box-shadow: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
}

.swiper-pagination-clickable .swiper-pagination-bullet {
    cursor: pointer;
}

.swiper-pagination-bullet-active {
    opacity: 1;
    background: var(--swiper-pagination-color, var(--swiper-theme-color));
}

.swiper-container-vertical>.swiper-pagination-bullets {
    right: 10px;
    top: 50%;
    transform: translate3d(0px, -50%, 0);
}

.swiper-container-vertical>.swiper-pagination-bullets .swiper-pagination-bullet {
    margin: 6px 0;
    display: block;
}

.swiper-container-vertical>.swiper-pagination-bullets.swiper-pagination-bullets-dynamic {
    top: 50%;
    transform: translateY(-50%);
    width: 8px;
}

.swiper-container-vertical>.swiper-pagination-bullets.swiper-pagination-bullets-dynamic .swiper-pagination-bullet {
    display: inline-block;
    transition: 200ms transform, 200ms top;
}

.swiper-container-horizontal>.swiper-pagination-bullets .swiper-pagination-bullet {
    margin: 0 4px;
}

.swiper-container-horizontal>.swiper-pagination-bullets.swiper-pagination-bullets-dynamic {
    left: 50%;
    transform: translateX(-50%);
    white-space: nowrap;
}

.swiper-container-horizontal>.swiper-pagination-bullets.swiper-pagination-bullets-dynamic .swiper-pagination-bullet {
    transition: 200ms transform, 200ms left;
}

.swiper-container-horizontal.swiper-container-rtl>.swiper-pagination-bullets-dynamic .swiper-pagination-bullet {
    transition: 200ms transform, 200ms right;
}

/* Progress */
.swiper-pagination-progressbar {
    background: rgba(0, 0, 0, 0.25);
    position: absolute;
}

.swiper-pagination-progressbar .swiper-pagination-progressbar-fill {
    background: var(--swiper-pagination-color, var(--swiper-theme-color));
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    transform: scale(0);
    transform-origin: left top;
}

.swiper-container-rtl .swiper-pagination-progressbar .swiper-pagination-progressbar-fill {
    transform-origin: right top;
}

.swiper-container-horizontal>.swiper-pagination-progressbar,
.swiper-container-vertical>.swiper-pagination-progressbar.swiper-pagination-progressbar-opposite {
    width: 100%;
    height: 4px;
    left: 0;
    top: 0;
}

.swiper-container-vertical>.swiper-pagination-progressbar,
.swiper-container-horizontal>.swiper-pagination-progressbar.swiper-pagination-progressbar-opposite {
    width: 4px;
    height: 100%;
    left: 0;
    top: 0;
}

.swiper-pagination-white {
    --swiper-pagination-color: #ffffff;
}

.swiper-pagination-black {
    --swiper-pagination-color: #000000;
}

.swiper-pagination-lock {
    display: none;
}

/* Scrollbar */
.swiper-scrollbar {
    border-radius: 10px;
    position: relative;
    -ms-touch-action: none;
    background: rgba(0, 0, 0, 0.1);
}

.swiper-container-horizontal>.swiper-scrollbar {
    position: absolute;
    left: 1%;
    bottom: 3px;
    z-index: 50;
    height: 5px;
    width: 98%;
}

.swiper-container-vertical>.swiper-scrollbar {
    position: absolute;
    right: 3px;
    top: 1%;
    z-index: 50;
    width: 5px;
    height: 98%;
}

.swiper-scrollbar-drag {
    height: 100%;
    width: 100%;
    position: relative;
    background: rgba(0, 0, 0, 0.5);
    border-radius: 10px;
    left: 0;
    top: 0;
}

.swiper-scrollbar-cursor-drag {
    cursor: move;
}

.swiper-scrollbar-lock {
    display: none;
}

.swiper-zoom-container {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.swiper-zoom-container>img,
.swiper-zoom-container>svg,
.swiper-zoom-container>canvas {
    max-width: 100%;
    max-height: 100%;
    object-fit: contain;
}

.swiper-slide-zoomed {
    cursor: move;
}

/* Preloader */
:root {
    /*
  --swiper-preloader-color: var(--swiper-theme-color);
  */
}

.swiper-lazy-preloader {
    width: 42px;
    height: 42px;
    position: absolute;
    left: 50%;
    top: 50%;
    margin-left: -21px;
    margin-top: -21px;
    z-index: 10;
    transform-origin: 50%;
    animation: swiper-preloader-spin 1s infinite linear;
    box-sizing: border-box;
    border: 4px solid var(--swiper-preloader-color, var(--swiper-theme-color));
    border-radius: 50%;
    border-top-color: transparent;
}

.swiper-lazy-preloader-white {
    --swiper-preloader-color: #fff;
}

.swiper-lazy-preloader-black {
    --swiper-preloader-color: #000;
}

@keyframes swiper-preloader-spin {
    100% {
        transform: rotate(360deg);
    }
}

/* a11y */
.swiper-container .swiper-notification {
    position: absolute;
    left: 0;
    top: 0;
    pointer-events: none;
    opacity: 0;
    z-index: -1000;
}

.swiper-container-fade.swiper-container-free-mode .swiper-slide {
    transition-timing-function: ease-out;
}

.swiper-container-fade .swiper-slide {
    pointer-events: none;
    transition-property: opacity;
}

.swiper-container-fade .swiper-slide .swiper-slide {
    pointer-events: none;
}

.swiper-container-fade .swiper-slide-active,
.swiper-container-fade .swiper-slide-active .swiper-slide-active {
    pointer-events: auto;
}

.swiper-container-cube {
    overflow: visible;
}

.swiper-container-cube .swiper-slide {
    pointer-events: none;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    z-index: 1;
    visibility: hidden;
    transform-origin: 0 0;
    width: 100%;
    height: 100%;
}

.swiper-container-cube .swiper-slide .swiper-slide {
    pointer-events: none;
}

.swiper-container-cube.swiper-container-rtl .swiper-slide {
    transform-origin: 100% 0;
}

.swiper-container-cube .swiper-slide-active,
.swiper-container-cube .swiper-slide-active .swiper-slide-active {
    pointer-events: auto;
}

.swiper-container-cube .swiper-slide-active,
.swiper-container-cube .swiper-slide-next,
.swiper-container-cube .swiper-slide-prev,
.swiper-container-cube .swiper-slide-next+.swiper-slide {
    pointer-events: auto;
    visibility: visible;
}

.swiper-container-cube .swiper-slide-shadow-top,
.swiper-container-cube .swiper-slide-shadow-bottom,
.swiper-container-cube .swiper-slide-shadow-left,
.swiper-container-cube .swiper-slide-shadow-right {
    z-index: 0;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
}

.swiper-container-cube .swiper-cube-shadow {
    position: absolute;
    left: 0;
    bottom: 0px;
    width: 100%;
    height: 100%;
    background: #000;
    opacity: 0.6;
    -webkit-filter: blur(50px);
    filter: blur(50px);
    z-index: 0;
}

.swiper-container-flip {
    overflow: visible;
}

.swiper-container-flip .swiper-slide {
    pointer-events: none;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    z-index: 1;
}

.swiper-container-flip .swiper-slide .swiper-slide {
    pointer-events: none;
}

.swiper-container-flip .swiper-slide-active,
.swiper-container-flip .swiper-slide-active .swiper-slide-active {
    pointer-events: auto;
}

.swiper-container-flip .swiper-slide-shadow-top,
.swiper-container-flip .swiper-slide-shadow-bottom,
.swiper-container-flip .swiper-slide-shadow-left,
.swiper-container-flip .swiper-slide-shadow-right {
    z-index: 0;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
}

body {
    overflow: hidden;
    font-family: "Helvetica Neue", "Helvetica", "Hiragino Sans", "Hiragino Kaku Gothic ProN", "Arial", "Yu Gothic", "Meiryo", sans-serif;
}

html {
    font-size: 62.5%;
    overflow: auto;
}

a {
    color: #000;
    text-decoration: none;
}

img {
    width: 100%;
    height: auto;
}

.section-title {
    max-width: 1170px;
    margin: 0 auto;
    font-size: 38px;
    text-align: center;
    line-height: 1.7;
    position: relative;
}

.section-title a span {
    position: relative;
    display: inline-block;
    text-decoration: none;
}

.section-title a span::after {
    position: absolute;
    bottom: -4px;
    left: 0;
    content: "";
    width: 100%;
    height: 2px;
    background: #333;
    transform: scale(0, 1);
    transform-origin: right top;
    transition: transform 0.3s;
}

.section-title a span:hover::after {
    transform-origin: left top;
    transform: scale(1, 1);
}

@media screen and (max-width: 580px) {
    .section-title {
        font-size: 28px;
    }
}

.section-title::before {
    content: "";
    width: 5%;
    height: 2px;
    background-color: #222;
    position: absolute;
    top: 30px;
    left: 30%;
}

@media screen and (max-width: 580px) {
    .section-title::before {
        top: 46%;
        left: 28%;
    }
}

.section-title::after {
    content: "";
    width: 5%;
    height: 2px;
    background-color: #222;
    position: absolute;
    top: 30px;
    right: 30%;
}

@media screen and (max-width: 580px) {
    .section-title::after {
        top: 46%;
        right: 28%;
    }
}

.section-text {
    max-width: 1170px;
    margin: 0 auto;
    text-align: center;
    padding: 30px 0;
}

@media screen and (max-width: 580px) {
    .section-text {
        padding: 20px 0;
    }
}

#header {
    width: 100%;
    margin: 0 auto;
    position: relative;
}

.header-title-wrap {
    position: absolute;
    top: 100px;
    left: 13.56%;
}

@media screen and (max-width: 740px) {
    .header-title-wrap {
        top: 50px;
    }
}

@media screen and (max-width: 580px) {
    .header-title-wrap {
        top: 150px;
        left: 8%;
    }
}

.header-title {
    font-size: 7.8vw;
    font-weight: bold;
    font-family: "DIN";
    color: #fff;
    letter-spacing: 12px;
    line-height: 1.1;
}

.header-img img {
    margin: 0 auto;
    display: block;
}

@media screen and (max-width: 580px) {
    .header-img img {
        height: 440px;
    }
}

.header-text {
    color: #fff;
    font-size: 20px;
    letter-spacing: 1.6px;
}

.gnav {
    max-width: 1170px;
    margin: 0 auto;
}

.gnav-list {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 20px;
}

.gnav-list li {
    padding: 10px 30px;
    position: relative;
}

.gnav-list li a::after {
    position: absolute;
    left: 25%;
    content: "";
    width: 50%;
    height: 2px;
    background: #000000;
    bottom: -1px;
    transform: scale(0, 1);
    transform-origin: left top;
    transition: transform 0.3s;
}

.gnav-list li a:hover::after {
    transform: scale(1, 1);
}

@media screen and (max-width: 580px) {
    .gnav-btn {
        width: 50px;
        height: 50px;
        background-color: #06182c;
        position: fixed;
        top: 10px;
        right: 10px;
        z-index: 3;
    }

    .gnav-btn span {
        display: block;
        width: 30px;
        height: 2px;
        background-color: #fff;
        margin: 11px auto;
    }

    .gnav-list {
        display: block;
        text-align: center;
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        -webkit-transform: translate(100%);
        transform: translate(100%);
        -webkit-transition: 0.6s;
        transition: 0.6s;
        background: rgba(255, 255, 255, 0.9);
        padding: 0;
        margin-top: 0;
        z-index: 3;
        background-color: #222;
        opacity: 0.8;
    }

    .show .gnav-list {
        -webkit-transform: translate(0);
        transform: translate(0);
    }

    .gnav-list {
        width: 100%;
        border: none;
        padding-top: 50px;
    }

    .gnav-list a {
        display: block;
        color: #fff;
        font-size: 32px;
        padding-bottom: 30px;
    }
}

.works {
    background-color: #f7f7f7;
    padding: 80px 20px;
}

@media screen and (max-width: 580px) {
    .works {
        padding: 50px 20px;
    }
}

.work-wrapper {
    max-width: 1170px;
    margin: 80px auto;
    margin-bottom: 0;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.work-box {
    width: 32%;
}

.work-img {
    display: block;
    margin: auto;
    text-align: center;
    overflow: hidden;
}

.work-img img {
    transition: 0.3s all;
}

.work-img img:hover {
    transform: scale(1.1);
}

.work-box-title {
    text-align: center;
    margin-top: 20px;
    margin-bottom: 70px;
    display: flex;
    justify-content: space-around;
    border-bottom: 1px solid #222;
}

.work-box-text {
    display: flex;
    justify-content: space-around;
    margin-top: 20px;
    margin-bottom: 60px;
}

.work-box-text dd {
    text-align: center;
    border-top: 1px solid #222;
}

.about {
    background: linear-gradient(to left, #85b6cb, #4c86d5);
    padding: 80px;
    padding-bottom: 40px;
}

@media screen and (max-width: 740px) {
    .about {
        padding: 20px;
    }
}

.about>.section-title a {
    color: #fff;
}

.about>.section-title::before {
    background-color: #fff;
}

.about>.section-title::after {
    background-color: #fff;
}

.about>.section-title a span::after {
    position: absolute;
    bottom: -4px;
    left: 0;
    content: "";
    width: 100%;
    height: 2px;
    background: #333;
    transform: scale(0, 1);
    transform-origin: right top;
    transition: transform 0.3s;
}

.about>.section-title a span {
    position: relative;
    display: inline-block;
    text-decoration: none;
}

.about>.section-title a span::after {
    position: absolute;
    bottom: -4px;
    left: 0;
    content: "";
    width: 100%;
    height: 2px;
    background: #fff;
    transform: scale(0, 1);
    transform-origin: right top;
    transition: transform 0.3s;
}

.about>.section-title a span:hover::after {
    transform-origin: left top;
    transform: scale(1, 1);
}

.about>.section-text {
    color: #fff;
}

.about-img-box {
    max-width: 800px;
    margin: 50px auto;
    display: flex;
    justify-content: space-between;
    padding: 30px 0;
}

@media screen and (max-width: 580px) {
    .about-img-box {
        flex-direction: column;
        margin: 0;
    }
}

.about-img {
    width: 35%;
}

@media screen and (max-width: 580px) {
    .about-img {
        width: 60%;
        margin: auto;
    }
}

figcaption {
    width: 60%;
    color: #fff;
}

@media screen and (max-width: 580px) {
    figcaption {
        width: 100%;
        margin: 50px auto;
        text-align: left;
        margin-bottom: 0;
    }
}

.skill {
    padding: 80px 20px 120px 20px;
}

@media screen and (max-width: 580px) {
    .skill {
        padding: 50px 20px;
    }
}

.skill-box-wrap {
    max-width: 1170px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin-top: 80px;
}

@media screen and (max-width: 580px) {
    .skill-box-wrap {
        flex-direction: column;
    }
}

.skill-box {
    width: 45%;
    padding: 20px 40px;
    box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.25);
}

@media screen and (max-width: 740px) {
    .skill-box {
        padding: 0;
    }
}

@media screen and (max-width: 580px) {
    .skill-box {
        width: 100%;
    }
}

@media screen and (max-width: 580px) {
    .skill-box:nth-of-type(1) {
        margin-top: -50px;
    }
}

@media screen and (max-width: 580px) {
    .skill-box:nth-of-type(4) {
        margin-top: 50px;
    }
}

.skill-box-title {
    text-align: center;
    padding: 10px;
    margin-bottom: 30px;
    font-size: 24px;
    letter-spacing: 1.8px;
}

@media screen and (max-width: 580px) {
    .skill-box-title {
        margin-top: 20px;
        margin-bottom: 0;
    }
}

.skill-box-text {
    margin-bottom: 30px;
    line-height: 1.8;
    padding: 20px;
}

@media screen and (max-width: 580px) {
    .skill-box-text {
        margin-bottom: 0;
    }
}

.skill-box:first-child {
    margin-bottom: 50px;
}

.skill-box:nth-of-type(2) {
    margin-bottom: 50px;
}

.contact {
    background-color: #f7f7f7;
    padding: 80px 0;
}

@media screen and (max-width: 580px) {
    .contact {
        padding: 20px;
    }
}

.contact-wrap {
    max-width: 1170px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

@media screen and (max-width: 580px) {
    .contact-wrap {
        flex-direction: column;
        margin: auto;
    }
}

.contact-wrap dl {
    width: 48%;
}

@media screen and (max-width: 580px) {
    .contact-wrap dl {
        width: 100%;
    }
}

.contact-wrap dt {
    text-align: center;
    font-size: 24px;
    color: #222;
    margin-top: 30px;
}

@media screen and (max-width: 580px) {
    .contact-wrap dt {
        margin-top: 0px;
    }
}

.contact-wrap dd {
    text-align: center;
    font-size: 18px;
    margin: 30px auto;
    color: #222;
}

.blue-btn {
    width: 280px;
    height: 50px;
    background: linear-gradient(to right, #85b6cb, #4c86d5);
    line-height: 50px;
    margin: 0 auto;
    border-radius: 10px;
}

.blue-btn a {
    color: #fff;
    display: block;
    text-align: center;
    transition: 0.3s all;
}

.blue-btn:hover {
    opacity: 0.6;
}

#footer {
    background-color: #000;
    padding: 10px 0;
}

.copy-right {
    color: #fff;
    text-align: center;
    letter-spacing: 1.8px;
}

.fa-html5 {
    color: #da351a;
    font-size: 1em;
}

.fa-desktop {
    color: blue;
    font-size: 1em;
    margin-right: 8px;
}

.fa-js {
    color: #efd009;
    background-color: #222;
    margin-right: 10px;
    font-size: 1em;
}

.fa-wordpress {
    color: #464a4e;
    font-size: 1em;
    margin-right: 5px;
}

.swiper-container {
    display: none;
}

@media screen and (max-width: 560px) {
    .swiper-container {
        display: block;
    }
}

@media screen and (max-width: 560px) {
    .work-wrapper {
        display: none;
    }
}

@media (min-width: 740px) {
    a[href*="tel:"] {
        pointer-events: none;
        cursor: default;
        text-decoration: none;
    }
}

#pageTop {
    position: fixed;
    bottom: 50px;
    right: 20px;
}

#pageTop i {
    padding-top: 3px;
    padding-right: 6px;
}

#pageTop a {
    display: block;
    z-index: 999;
    padding: 8px 0 0 8px;
    border-radius: 5px;
    width: 45px;
    height: 45px;
    background-color: #222;
    color: #fff;
    font-weight: bold;
    text-decoration: none;
    text-align: center;
}

#pageTop a:hover {
    text-decoration: none;
    opacity: 0.7;
}