// global/_variables.scss


// メインカラー
$main-color: ;

// サブカラー

$sub-color: ;

// タイトル

$title-color: ;

$white: #fff;

$breakpoints: (
  "sp": (
    min-width: 560px,
  ),
  "pc": (
    min-width: 900px,
  ),
);